<!-- <div class="container">
  <form class="form-horizontal" style="background:#6d6e7359;padding: 10px">
    <div style="text-align: center;
      font-size: 61px;">REGISTER</div>
    <div class="form-group">
      <label class="control-label " for="name">Name:</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" [(ngModel)]="name" id="name" placeholder="Enter name" name="Name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label " for="email">Email:</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="email" [(ngModel)]="email" placeholder="Enter email" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label " for="Phone">Phone:</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="Phone" [(ngModel)]="phoneNo" placeholder="Enter Contact Number"
          name="phone">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label " for="pwd">Password:</label>
      <div class="col-sm-12">
        <input type="password" class="form-control" id="pwd" [(ngModel)]="password" placeholder="Enter password" name="pwd">
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-secondary " (click)="register()">Submit</button>
    </div>
  </form>
</div>

​ -->
<div class="main-container">
  <div class="container">
    <form class="form-horizontal">
      <div class="heading" style="font-size:60px">REGISTER</div>
      <div class="image-container row margin-1">
        <div class="center"><img src="../../../assets/log- in Pop-up line.png"></div>
      </div>
      <div class="custom-form">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" [(ngModel)]="name" id="name" placeholder="Enter name" name="Name">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="email" [(ngModel)]="email" placeholder="Enter email" name="email">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="Phone" [(ngModel)]="phoneNo" placeholder="Enter Contact Number"
              name="phone">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="password" class="form-control" id="pwd" [(ngModel)]="password" placeholder="Enter password"
              name="pwd">
          </div>
        </div>
      </div>

      <div class="form-group text-center">
        <button type="submit" class="btn btn-secondary " (click)="register()">Register
          <fa name="spinner" animation="spin" size="lg" *ngIf="loader"></fa>
        </button>
      </div>

      <div class="form-group text-center padding-1">
        <p>Already have an account
          <a style="cursor:pointer" rounterLink="/login">
            <b>Login</b>
          </a>
        </p>
      </div>
    </form>
  </div>

  ​
</div>