<div class="row">
  <form>
    <div class="form-group">
      <label class="control-label " for="no">Number:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="getNumber" id="no" placeholder="Enter  Car Number" name="no">
      </div>
      <button type="submit" class="btn btn-secondary " (click)="getD()" data-toggle="modal" data-target="#myModal">Submit</button>
    </div>
  </form>
</div>
<div class="container">

  <form class="form-horizontal" style="background:#6d6e7359;padding: 10px">
    <div style="text-align: center;
      font-size: 61px;">OWNER</div>
    <div class="form-group">
      <label class="control-label " for="no">Number:</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="no" [(ngModel)]="no" placeholder="Enter  Car Number" name="no">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label " for="name">Name:</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="name" [(ngModel)]="name" placeholder="Enter name" name="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label " for="cno">Phone Number:</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="cno" [(ngModel)]="phone" placeholder="Enter Phone Number" name="cno">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label " for="Color">Purchase Date:</label>
      <div class="col-sm-12">
        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="purchaseDate">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label " for="address">Address:</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="address" [(ngModel)]="address" placeholder="Enter address" name="address">
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-secondary " (click)="addOwner()">Submit</button>
    </div>
  </form>
</div>

​
<!-- <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Car Details</h4>
      </div>
      <div class="modal-body">
        Car Number: <p id="carDetailsNumber"></p>
        Car Engine No: <p id="carDetailsEngine"></p>
        Car Chasis No: <p id="carDetailsChasis"></p>
        Car Color: <p id="carDetailsColor"></p>
        Car Manufature date: <p id="carDetailsMaufature"></p>
        Car Make: <p id="carDetailsMake"></p>
        Car Model: <p id="carDetailsModel"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> -->
<!-- Modal content-->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>