<style>
    img{
    /* margin: 20px auto; */
    display: block;
    /* height: 200px; */
    width: 200px;
    border-style: solid;
    border-radius: 100%;
}
.abc.particles-container{
    background: red
}
</style>
<particles class="abc" [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>



<div class="container" style="
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
  ">

    <form class="form-horizontal" style="background:#6d6e7359;padding: 10px">
        <div style="text-align: center;
        font-size: 61px;">LOGIN</div>
        <div class="image-container row">
            <div style="margin:auto"><img class="image" src="https://www.w3schools.com/howto/img_avatar2.png" class="image"></div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-12">
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-secondary " (click)="login()">Submit</button>
        </div>
    </form>
</div>

​