<div class="main-container vertical-center">
  <div class="container offset-md-3 col-md-6 col-sm-12">
    <form class="form-horizontal" (ngSubmit)="addCarDetails()" ngNativeValidate #form="ngForm">
      <div class="heading">Set car details</div>
      <div class="image-container row margin-1">
        <div class="center"><img src="../../../assets/log- in Pop-up line.png"></div>
      </div>
      <div class="custom-form">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" [(ngModel)]="number" id="no" placeholder="Enter  Car Number"
              required=" required" name="no">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" [(ngModel)]="engineNo" id="eno" placeholder="Enter Engine Number"
              required name="eno">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" [(ngModel)]="chasisNo" id="cno" placeholder="Enter Chasis Number"
              required name="cno">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" [(ngModel)]="color" id="Color" placeholder="Enter Color" required
              name="Color">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <input type="date" class="form-control" [(ngModel)]="manufatureDate" id="mdate" placeholder="Enter Manufature Date"
              required required name="mdate">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" [(ngModel)]="carManufacturer" id="carm" placeholder="Enter Car Manufaturer:"
              required required name="carm">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="carModel" [(ngModel)]="carModel" placeholder="Enter Car Model"
              required name="carModel">
          </div>
        </div>
      </div>

      <div class="form-group text-center">
        <button type="submit" class="btn btn-secondary ">Submit
          <fa name="spinner" animation="spin" size="lg" *ngIf="transactionLoader"></fa>
        </button>
      </div>
    </form>
  </div>

  ​
</div>