.main-container{
    background-image: url("../../../../assets/Getcarscreen.png") !important;
  
}

.owner{
    background: #f6b959;
    padding: 1px;
    margin-bottom: 20px;
    padding: 10px !important
}

.label{
    color:whitesmoke;
    font-size: 20px;
    margin-left: 30px
}

.value{
    color: white;
    font-size: 20px
}

