.main-container{
    background-image: url("../../../../assets/Getcarscreen.png") !important;
  
}

.owner{
    background: #f6b959;
    padding: 1px;
    margin-bottom: 20px
}

.owner p {
    margin: 8px;
}

