@import 'variables';
@import '~alertifyjs/build/css/alertify.min.css';
@import '~alertifyjs/build/css/themes/default.min.css';
.form{
    color: white !important;
    font-family:monospace;
}
.view-container{
    color: white !important;
    font-family:monospace;
}

// .container{
//     position: absolute;
//     top: 43%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 40%;
//     height: 50%;
// }
.vertical-center {
    // min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
.form,.view-container {
    background: #f5af41eb !important;
    padding: 20px 7%;
}

.center{
    margin-left: auto !important;
    margin-right: auto !important;
}

.form-control{
    background: #8e8779 !important;
    height: 51px;
    border-radius: 14px;
    border: none;
    padding: 0px 20px 20px 20px;
}

.margin-1{
    margin-bottom: 1rem;
}

.active{
    color: white !important
}

input::placeholder { 
    color: #ffffffc4 !important;
    font-size:18px;
}

.heading{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.main-container{
    height: 100vh;
    background-size: cover;
}
// Toast styles
.alertify-notifier .ajs-message.ajs-success{
    background:rgba(0, 0, 0, 0.80);
    border: 0px;
  }


//alertify modal style
.alertify .ajs-header{
    background: $primary-color !important;
    color: white !important;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.16);
    border-bottom: 0px;
  }
  
  .alertify .ajs-footer {
    background: white; 
    border-top: 0px; 
  }
  .alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok{
      color: white !important;
      background: $primary-color;
      border: none 
  }
  
  
  .main-container{
      background-attachment: fixed;
  }